.TodoForm{
    margin-top: 100px;
}

button{
    padding: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: linear-gradient(
      90deg,
      rgba(255, 118, 20, 1) 0%,
      rgba(255, 84, 17, 1) 100%
    );
    color: #fff;
    text-transform: capitalize;
}

input{
        padding: 14px 32px 14px 16px;
        border-radius: 4px 0 0 4px;
        border: 2px solid #ff6d0c;
        outline: none;
        width: 320px;
        background: transparent;
        color: #ffffff;
}

input::placeholder {
    color: #ffffff;
  }