.TodoItem-todo.done{
    color: black;
    text-decoration: line-through;
    
}

.items{
    margin: 6px auto;
    color: rgb(255, 255, 255);
    background: linear-gradient(
      90deg,
      rgba(255, 118, 20, 1) 0%,
      rgba(255, 84, 17, 1) 100%
    );
  
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 80%;
}


.todoText{
    /* float: left; */
    margin-top: -11px;
    text-align: left;
}

.todoRemove:hover{
    float: right;
    margin-right: -10px;
    margin-top: -10px;
    background: rgb(48, 48, 48);
    cursor: pointer;
    padding: 10px 15px;
}

.todoRemove{
    float: right;
    margin-right: -10px;
    margin-top: -10px;
    background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  cursor: pointer;
  padding: 10px 15px;
}